.pricing-container {
  width: 450px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  button{
    margin-top: 10px;
    height: 50px;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
    border-style: none;
    background-color: rgb(136, 125, 255);
  }

  button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(45, 27, 244);
  }
}

.pricing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pricing-title > p {
  font-size: 25px;
  font-weight: 600;
}

.price-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-flex > span {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 10px;
}

.price-flex > span:nth-child(1) {
  color: rgb(106, 106, 106);
}
