.img-container-c {
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.image-carousal-c {
  width: 1000%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: margin-left 0.5s ease;
}

.image-carousal-c > .card-c {
  width: 100%;
  height: 100%;
}

.image-carousal-c > .card-c > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .img-container-c {
    height: 300px;

  }
  .image-carousal-c > .card-c > img {
    object-fit:contain;
  }
}

@media (max-width: 576px) {
  .img-container-c {
    height: 300px;
  }
  .image-carousal-c > .card-c > img {
    object-fit:contain;
  }
}

