.container {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 10px 0px 10px; /* Adjust margin for mobile and tablet */
}

.card {
  width: calc(100% - 40px); /* Adjust width for mobile and tablet */
  max-width: 350px; /* Set maximum width */
  height: 590px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px 10px; /* Adjust margin for mobile and tablet */
  position: relative;
  overflow: hidden;
}

.shimmer-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(134, 134, 134, 0.251) 50%,
    transparent 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .container {
    margin: 100px 10px 0px 10px; /* Adjust margin for tablet */
  }
  
  .card {
    width: calc(50% - 40px); /* Adjust width for tablet */
    margin: 20px; /* Adjust margin for tablet */
  }
}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .container {
    margin: 80px 10px 0px 10px; /* Adjust margin for mobile */
  }
  
  .card {
    width: calc(100% - 40px); /* Adjust width for mobile */
    margin: 20px 0; /* Adjust margin for mobile */
  }
}
