.cart-main-container {
  padding: 9rem 8rem;
}

.grid-four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-five-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.3fr;
  text-align: start;
  align-items: center;
}
.cart-heading {
  text-align: center;
  text-transform: uppercase;
}

.cart-heading,
.grid-five-column > p {
  padding-top: 15px;
  font-weight: 500;
  background-color: rgb(20, 20, 20);
  height: 50px;
  color: #fff;

  text-transform: uppercase;
}

.cart-heading,
.grid-five-column > p:nth-child(1) {
  border-top-left-radius: 10px;
  padding-inline-start: 10px;
}

.cart-heading,
.grid-five-column > p:nth-child(5) {
  border-top-right-radius: 10px;
}

.cart-item {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid rgb(20, 20, 20);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cart-item::-webkit-scrollbar {
  width: 8px;
}

.cart-item::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin: 5px;
}

.cart-item::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.cart-item::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
.cart-user--profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 5.4rem;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  h2 {
    font-size: 2.4rem;
  }
}
.cart-user--name {
  text-transform: capitalize;
}
.cart-image--name {
  padding-left: 10px;
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.4fr 1fr;
  text-transform: capitalize;
  text-align: left;
  margin-right: 10px;
  img {
    max-width: 5rem;
    height: 5rem;
    object-fit: contain;
    color: transparent;
  }
}

.no-item {
  margin-top: 2.5rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

.no-item > img {
  width: 30rem;
}

.btn-cart {
  width: 120px;
  height: 40px;
  border-style: none;
  font-size: 18px;
  font-weight: 800px;
  color: #fff;
  padding-bottom: 2px;
  border-radius: 40px;
  background-color: #e74c3c;
  margin: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-cart.store {
  background-color: #06d6a0;
}

.amount-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;

  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
}

.clear-cart-back {
  display: flex;
  justify-content: flex-end;
}

.remove_icon {
  font-size: 1.4rem;
  color: #e74c3c;
  cursor: pointer;
}

.order-total--amount {
  width: 100%;
  margin: 4.8rem 0;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .order-total--subdata {
    border: 0.1rem solid #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 3.2rem;
  }
  div {
    display: flex;
    gap: 3.2rem;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {

  .cart-hide {
    display: none;
  }

  .grid-five-column {
    grid-template-columns: 1.5fr 1fr 0.5fr;
  }

  .pricing-container {
    margin-left: 30px;
  }
}

@media screen and (max-width: 475px) {
  .cart-pro-title{
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pricing-container {
    width: 300px;
    margin-left: 0px;
  }

  .cart-main-container {
    margin-top: 5rem;
    padding: 0.5rem 0.5rem;
  }

  .grid-four-column,
  .grid-five-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-five-column {
    grid-template-columns: repeat(2, 1fr) 0.3fr;
  }

  .cart-heading,
  .grid-five-column > p {
    padding-top: 10px;
    height: 40px;
  }

  .cart-heading,
  .grid-five-column > p:nth-child(1) {
    padding-inline-start: 5px;
  }

  .cart-item {
    padding: 2rem 0;
    gap: 2rem;
    max-height: 400px;
  }

  .cart-user--profile {
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .cart-user--name {
    font-size: 2rem;
  }

  .cart-image--name {
    gap: 0.5rem;
    img {
      max-width: 4rem;
      height: 4rem;
    }
  }

  .no-item > img {
    width: 20rem;
  }

  .btn-cart {
    width: 100px;
    height: 30px;
    font-size: 16px;
    padding-bottom: 1px;
    border-radius: 30px;
  }

  .amount-toggle {
    gap: 1.2rem;
    font-size: 1.2rem;
  }

  .order-total--amount {
    margin: 2.4rem 0;
    .order-total--subdata {
      padding: 2rem;
    }
    div {
      gap: 2rem;
    }
  }
}
