.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  padding: 10px 5%;
  z-index: 1;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-logo {
  width: 60px;
  cursor: pointer;
}

.menu-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar ul li {
  margin: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  color: #3d4152;
}

.menu-bar ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-bar ul li:hover > a {
  transform-origin: left;
  color: #088178;
  transition: 0.5s;
}

.menu-bar ul li a.active {
  color: #088178;
}

.user-btn {
  background-color: transparent;
  width: 5rem;
  font-weight: bold;
  height: 2rem;
  border-radius: 5%;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.4s;
}

.user-btn:hover {
  border-style: none;
  background-color: #3d4152;
  color: #fff;
}

.cart-logo {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff5733;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    height: 5rem;
    padding: 10px 4%;
  }

  .hamburger-menu {
    display: block;
    border: none;
    background-color: transparent;
  }

  .menu-bar {
    display: none;
  }

  .mobile-menu-link {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: white;
    height: 20rem;
    display: grid;
    top: 12rem;
    align-items: center;
    transition: all 0.2s linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .nav-logo {
    width: 50px;
  }
}
