.card {
  width: 350px;
  border-radius: 1em;
  border: 1px solid rgb(196, 196, 196);
  margin: 30px;
  transition: .3s;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-card{
    background: #fff;
    margin: 1em;
}

.review-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6em;
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars > svg{
    color: rgb(255, 238, 0);
    width: 20px;
}

.stars span{
    margin-right: 8px;
    font-size: .85em;
    color:  rgb(36, 36, 36);
}

.star span, .description p {
    font-size: .85em;
    color: rgb(36, 36, 36);
}

.product-name, .price {
    font-size: 1.3em;
    color: #000;
}

.product-name{
    height: 55px;
}

.img-card-product {
    width: 100%;
    height: 300px;   
    padding: 20px;
    border-radius: 1.2em 1.2em 0 0;
    background-position: center;
    background-size: cover;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 1.5em;
}

.card-button{
    display: flex;
    align-items: center;
    background: #06d6a0;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.cart-icon, .like-button{
    width: 44px;
    height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 2em;
    line-height: 1.92em;
    background: #06c995;
}

.cart-icon, .like-button:hover{
    cursor: pointer;
}

.cart-icon, .card-button p, .like-button{
    padding: .7em .3em;
}

/* @media screen and (min-width: 500px){
    .card{
        width: 350px;
        margin: 0 auto;
    }
} */